<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--    <uses-permission android:name="android.permission.INTERNET" /> &lt;!&ndash; Lay cac permission cho viec su dung google map &ndash;&gt;
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    &lt;!&ndash; Quyền truy cập internet &ndash;&gt;-->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Quyền sử dụng vị trí cho Google Maps -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Quyền truy cập bộ nhớ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group1_petfood"
        tools:targetApi="31">
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" /> <!-- Các Activity trong ứng dụng -->
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GgmapActivity"
            android:exported="false" /> <!-- Lay string api cho google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".activities.CategoryListActivity" /> -->
        <activity android:name=".activities.AdminProductActivity" />
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <!-- Intent Filter cho Deep Link từ ZaloPay -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CategoryListActivity"
            android:exported="true" />
        <activity android:name=".activities.AddEditProductActivity" />
        <activity android:name=".activities.AdminDashboardActivity" />
        <activity
            android:name=".activities.UserProductDetailActivity"
            android:exported="false" />
    </application>

</manifest>